#edit {

    padding: 10px;
    margin-top: 10px;

}
#upload{
    padding-left: 120px;
    padding-top: 20px;
    padding-bottom: 50px;
}
#info {
    padding: 30px;
    background-color: blueviolet;

}
#image {
    height: 180px;
    width: 80%;
}

#frame {
    padding: 10px;
}
.main-secction {
    box-shadow: 15px 15px 15px;
    background: linear-gradient(to bottom, #ffffff 0%, #660033 100%);
}

h6 {
    color: white;
}
#formGroup{
    margin-left: 15px;
}

#email {
    max-width: 450px;
}



body{
    padding-top: 68px;
    padding-bottom: 50px;
}
        .image-container {
            position: relative;
        }

        .image {
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
        }

        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }

        .image-container:hover .image {
            opacity: 0.3;
        }

        .image-container:hover .middle {
            opacity: 1;
        }