.product-cart{
    width: 300px;
}

.product-cart div{
    width: fit-content;
}

.product-cart img{
    max-height: 100px;
    padding-left: 2px;
    padding-right: 5px;
}


.main-cart-table{
    border: black 1px solid;
    width: 70%;
    margin-left: 15%;
}

.action{
    text-align: center;
    border-left: solid 1px rgb(150, 145, 145);
}

hr.new1 {
    border-top: 1px solid rgb(192, 8, 94);
}
hr.new2 {
    border-top: 1px solid rgb(192, 8, 94);
    width: 40px;
}