

#sort {
    visibility: hidden;
}

th {
    border-right: white solid 2px;
}

table,
td {
    border: 1px solid rgb(81, 107, 221);
}

table {
    background-color: rgb(249, 251, 252);
}

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end
}
body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background: #fafbfc;
}

    .flex-xl-wrap-reverse {
        -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important;

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    background-color: rgb(219, 207, 207);
    padding-top: 20px;
    overflow-y: scroll;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
    height: 65px;
}

.sidenav a:hover {
    background-color: rgb(248, 138, 175);
}

.sidenav a.active {
    background-color: rgb(248, 138, 175);
    color: black;
}

.main {
    margin-left: 210px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* for dropmenu in profile */

.dropbtn {
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.drop {
    position: absolute;
    display: inline-block;
    z-index: 1;
    right: 0
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

#DropDown a:hover {
    background-color: rgb(248, 138, 175);
}

.fa-stack[data-count]:after {
    position: absolute;
    top: 33%;
    content: attr(data-count);
    font-size: 25%;
    padding: .2em;
    border-radius: 999px;
    line-height: .75em;
    color: white;
    background: rgba(255, 0, 0, .85);
    text-align: center;
    min-width: 2em;
    font-weight: bold;
    margin-left: 1185px;
}