.product {
    /* cursor: pointer; */
    /* border: 1px solid black; */
    max-width: 22%;
    margin: 1% 1% 1% 1%;
    height: fit-content;
    border-radius: 2.5px;
    background-color: rgb(250, 250, 250);
    padding: 1%;
    transition: 0.2s;
}

.product-name {
    font-weight: bold;
    cursor: pointer;
}

.product-genre a {
    color: rgb(50, 50, 50);
}

.product img {
    width: 100%;
    cursor: pointer;
}

.product:hover {
    box-shadow: 5px 5px rgb(200, 200, 200);
    transition: 0.2s;
}

#most-recent,
#weeks-ago,
#months-ago {
    flex-wrap: wrap;
}